services:
  rabbitmq:
    image: rabbitmq:3.11-management
    container_name: magicpage-rabbitmq
    restart: unless-stopped
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_DEFAULT_USER:-guest}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_DEFAULT_PASS:-guest}
      RABBITMQ_DEFAULT_VHOST: ${RABBITMQ_DEFAULT_VHOST:-/magic-pages}
    ports:
      - "5672:5672" #AMQP port (app connects here)
      - "15672:15672" # rabbitmq web based management UI
    volumes:
      -rabbitmq-data:/var/lib/rabbitmq
    healthcheck:
      test: ["CMD", "rabbitmqctl", "status"]
      interval: 30s
      timeout: 10s
      retries: 5

volumes:
    - rabbitmq-data
